* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  max-width: 1170px; }

h2 {
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  color: #5b6ceb;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: .9px; }

a.nav-link {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #606060;
  position: relative;
  text-align: center;
  padding-bottom: 9px; }
  a.nav-link:hover, a.nav-link:active {
    color: #5363db; }

header {
  height: 100px; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  nav a.logo-link {
    margin: 16px 150px;
    position: relative; }
  nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    nav ul li {
      margin-right: 30px;
      position: relative; }
      nav ul li a.nav-link:hover:before {
        position: absolute;
        content: '';
        bottom: 3px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 30px;
        height: 1px;
        border-bottom: 1px solid #5363db;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
      nav ul li:last-child {
        margin-right: 0; }
  nav ul.nav-left {
    width: 40%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  nav ul.nav-right {
    width: 40%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

.slider-block {
  background-image: url("../img/bg-sliderBlock.png");
  background-position: top center;
  background-repeat: repeat-x;
  min-height: 600px; }
  .slider-block .slider-block_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 100px 0; }
    .slider-block .slider-block_content .form-blcok {
      width: 19.5%;
      background-color: #fff;
      padding: 33px 40px 35px 30px;
      -webkit-border-radius: 18px;
              border-radius: 18px;
      margin-left: 16.5%;
      -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
              box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); }
      .slider-block .slider-block_content .form-blcok form {
        width: 100%; }
      .slider-block .slider-block_content .form-blcok p {
        width: 100%; }
      .slider-block .slider-block_content .form-blcok p input {
        width: 90%;
        border: 1px solid;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        padding: 12px 10px 19px 8px;
        margin-bottom: 17px;
        background-color: #f2f2f2;
        color: #888;
        font-size: .875em;
        border-color: transparent; }
      .slider-block .slider-block_content .form-blcok select {
        width: 100%;
        border: none;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        padding: 1.125em 5%;
        background-color: #f2f2f2;
        color: #888;
        font-size: .875em; }
      .slider-block .slider-block_content .form-blcok h3 {
        color: #5363db;
        font-size: 1.55em;
        font-weight: 600;
        padding-bottom: 25px;
        letter-spacing: .8px; }
      .slider-block .slider-block_content .form-blcok button {
        width: 75%;
        background-color: #5b6ceb;
        -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
                box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
        border: none;
        -webkit-border-radius: 8px;
                border-radius: 8px;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
        padding: 16px 0;
        margin-top: 32px;
        margin-left: 28%; }
        .slider-block .slider-block_content .form-blcok button:hover, .slider-block .slider-block_content .form-blcok button:focus {
          background-color: #475bf1; }
    .slider-block .slider-block_content .title-block {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-top: 56px; }
      .slider-block .slider-block_content .title-block h1 {
        text-transform: uppercase;
        color: #fff;
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 33px;
        line-height: 1.5; }
      .slider-block .slider-block_content .title-block h3 {
        width: 67%; }

.our-classes {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 99px; }
  .our-classes h2 {
    line-height: 2.5; }
  .our-classes .our-classes_list {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 57px; }
    .our-classes .our-classes_list a {
      display: block;
      width: 48.3%;
      margin-top: 16px;
      margin-bottom: 9px;
      margin-right: 3%;
      text-decoration: none;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      .our-classes .our-classes_list a:nth-child(2n) {
        margin-right: 0; }
      .our-classes .our-classes_list a .our-classes_items {
        width: 100%;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
                box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
        -webkit-border-radius: 8px;
                border-radius: 8px;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .our-classes .our-classes_list a .our-classes_items img {
          display: block; }
        .our-classes .our-classes_list a .our-classes_items .descrBlock {
          padding-left: 32px;
          padding-right: 1%; }
          .our-classes .our-classes_list a .our-classes_items .descrBlock h1 {
            color: #777777;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: -4px;
            margin-bottom: 23px;
            letter-spacing: 0px; }
          .our-classes .our-classes_list a .our-classes_items .descrBlock p.mainDescr {
            font-size: .875em;
            color: #555555;
            line-height: 1.7;
            margin-bottom: 27px; }
          .our-classes .our-classes_list a .our-classes_items .descrBlock .lastDescr {
            color: #999;
            font-size: .875em; }

.gallery-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 125px; }
  .gallery-block a {
    display: block;
    width: 25%;
    position: relative; }
    .gallery-block a:hover .img-bg {
      display: block; }
    .gallery-block a img {
      width: 100%; }
    .gallery-block a .img-bg {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }

.aboutUsBlock {
  width: 100%;
  margin-top: 120px; }
  .aboutUsBlock .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .aboutUsBlock .container .abUsCont {
      width: 40%;
      margin-top: 13px; }
      .aboutUsBlock .container .abUsCont h1 {
        margin-bottom: 18px;
        font-size: 30px;
        color: #5b6ceb;
        font-weight: bold;
        text-transform: uppercase; }
      .aboutUsBlock .container .abUsCont p {
        font-size: .875em;
        color: #555;
        font-weight: 500;
        line-height: 1.5; }
    .aboutUsBlock .container .abUsSlider {
      width: 51%;
      margin-top: -5px;
      margin-right: -1%; }

.slick-prev {
  width: 50px !important;
  height: 50px !important;
  -webkit-border-radius: 40px !important;
          border-radius: 40px !important;
  background-color: #fff !important;
  -webkit-box-shadow: 3px 6px 13px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 3px 6px 13px rgba(0, 0, 0, 0.1) !important;
  top: 45% !important;
  left: -16px !important;
  z-index: 1 !important; }
  .slick-prev:hover {
    background-color: #fff !important; }
  .slick-prev:before {
    content: "\f104" !important;
    font-family: FontAwesome !important;
    color: #5b6ceb !important;
    opacity: 1 !important;
    font-size: 37px !important; }
  .slick-prev:hover:before {
    color: #475bf1 !important; }

.slick-next {
  width: 50px !important;
  height: 50px !important;
  -webkit-border-radius: 40px !important;
          border-radius: 40px !important;
  background-color: #fff !important;
  -webkit-box-shadow: 3px 6px 13px rgba(0, 0, 0, 0.1) !important;
          box-shadow: 3px 6px 13px rgba(0, 0, 0, 0.1) !important;
  top: 45% !important;
  right: -16px !important;
  z-index: 1 !important; }
  .slick-next:hover {
    background-color: #fff !important; }
  .slick-next:before {
    content: "\f105" !important;
    font-family: FontAwesome !important;
    color: #5b6ceb !important;
    opacity: 1 !important;
    font-size: 37px !important; }
  .slick-next:hover:before {
    color: #475bf1 !important; }

.features-block {
  background-image: url("../img/bg-features.png");
  background-position: top center;
  background-repeat: repeat-x;
  width: 100%; }
  .features-block .featuresList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 120px 0;
    margin-top: 77px; }
    .features-block .featuresList .featureItem {
      width: 23%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 5px;
      text-align: center;
      color: #fff; }
      .features-block .featuresList .featureItem:nth-child(5), .features-block .featuresList .featureItem:nth-child(6), .features-block .featuresList .featureItem:nth-child(7), .features-block .featuresList .featureItem:nth-child(8) {
        margin-top: 55px;
        margin-bottom: 13px; }
      .features-block .featuresList .featureItem h3 {
        margin-top: 27px;
        font-size: 18px;
        font-weight: bold;
        line-height: 27px; }
      .features-block .featuresList .featureItem p {
        font-size: 16px;
        font-weight: 500;
        line-height: 27px;
        margin-top: 12px; }

.pricesBlock {
  width: 100%;
  background-image: url("../img/bg-prices.png");
  -webkit-background-size: 55% 55%;
          background-size: 55%;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 95px 0 200px 0; }
  .pricesBlock .priceList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5px 0; }
    .pricesBlock .priceList .priceItems {
      width: 31.6%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      background-color: #fff;
      -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
              box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 10px;
              border-radius: 10px; }
      .pricesBlock .priceList .priceItems .titlePrice {
        width: 100%;
        background-color: #5b6ceb;
        color: #fff;
        margin: 0 auto;
        padding: 50px 0;
        position: relative;
        -webkit-border-radius: 10px 10px 0 0;
                border-radius: 10px 10px 0 0; }
        .pricesBlock .priceList .priceItems .titlePrice .dlr {
          position: absolute;
          top: 36%;
          left: 28%;
          font-size: 32px;
          font-weight: bold;
          line-height: 36px;
          padding-bottom: 10px; }
        .pricesBlock .priceList .priceItems .titlePrice .price {
          font-size: 4.7em;
          font-weight: bold;
          line-height: 75px; }
        .pricesBlock .priceList .priceItems .titlePrice h1 {
          font-size: 14px;
          font-weight: 600;
          line-height: 24px;
          text-transform: uppercase;
          margin-top: -15px;
          margin-left: 56px; }
      .pricesBlock .priceList .priceItems .contItems {
        width: 100%; }
        .pricesBlock .priceList .priceItems .contItems .dateTime {
          list-style-type: none;
          padding: 35px 0;
          margin-left: -22px;
          line-height: 1px; }
          .pricesBlock .priceList .priceItems .contItems .dateTime li {
            color: #555;
            font-size: 1.125em;
            font-weight: 500;
            line-height: 24px; }
          .pricesBlock .priceList .priceItems .contItems .dateTime img {
            margin: 0;
            padding: 20px 0; }
        .pricesBlock .priceList .priceItems .contItems .buyN {
          background-color: #5b6ceb;
          color: #fff;
          font-size: 1.125em;
          font-weight: 600;
          text-align: center;
          padding: 15px 0;
          width: 45%;
          border: none;
          -webkit-border-radius: 19px;
                  border-radius: 19px;
          margin-top: 7px;
          margin-bottom: 51px;
          margin-left: 3px; }

.reviewSliderBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 98%;
  margin: 0 auto;
  padding: 40px 0 60px 0;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 50px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-top: 100px; }
  .reviewSliderBlock .avatarBlock {
    width: 40%; }
    .reviewSliderBlock .avatarBlock img {
      display: block;
      margin: 0 auto; }
  .reviewSliderBlock .reviewTextBlock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
    .reviewSliderBlock .reviewTextBlock .descrReview {
      width: 70%;
      color: #000;
      font-size: .875em;
      font-weight: 500;
      font-style: italic;
      position: relative; }
      .reviewSliderBlock .reviewTextBlock .descrReview:before {
        content: open-quote;
        position: absolute;
        font-size: 3.85em;
        color: #5b6ceb;
        font-weight: 600;
        top: -20px;
        left: -45px; }
      .reviewSliderBlock .reviewTextBlock .descrReview:after {
        content: close-quote;
        position: absolute;
        font-size: 3.85em;
        color: #5b6ceb;
        font-weight: 600;
        bottom: -50px;
        right: -55px; }
    .reviewSliderBlock .reviewTextBlock .mictoSlider {
      position: absolute;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 22%;
      top: 116%;
      left: 0; }
      .reviewSliderBlock .reviewTextBlock .mictoSlider .text {
        position: relative; }
        .reviewSliderBlock .reviewTextBlock .mictoSlider .text .position {
          color: #777;
          font-size: .75em;
          font-weight: 500;
          line-height: 22px;
          margin: 0;
          padding: 0; }
        .reviewSliderBlock .reviewTextBlock .mictoSlider .text .nameTrainer {
          color: #555;
          font-size: .875em;
          font-weight: 700;
          line-height: 22px;
          margin: 0;
          padding: 0; }
    .reviewSliderBlock .reviewTextBlock .fromhwo {
      position: relative; }
      .reviewSliderBlock .reviewTextBlock .fromhwo .positionFrom {
        color: #777;
        font-size: .875em;
        font-weight: 500;
        line-height: 22px;
        padding: 0;
        margin: 0; }
      .reviewSliderBlock .reviewTextBlock .fromhwo .nameFrom {
        color: #5b6ceb;
        font-weight: 700;
        font-size: 1em;
        line-height: 22px;
        padding: 0;
        margin: 0; }

footer {
  background-color: #5b6ceb;
  color: #fff; }
  footer .topFooter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 100px 0; }
    footer .topFooter .about {
      width: 50%; }
      footer .topFooter .about h1 {
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 22px;
        text-align: left; }
      footer .topFooter .about p {
        font-size: .875em;
        line-height: 22px;
        font-weight: 500;
        width: 80%;
        margin-top: 60px; }
      footer .topFooter .about .socialList {
        list-style-type: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: left;
        -webkit-justify-content: left;
            -ms-flex-pack: left;
                justify-content: left;
        padding: 0;
        margin: 0;
        margin-top: 65px; }
        footer .topFooter .about .socialList li {
          margin-right: 4%; }
    footer .topFooter .contactUs {
      width: 50%; }
      footer .topFooter .contactUs h1 {
        text-transform: uppercase;
        font-size: 1.125em;
        font-weight: 700;
        line-height: 22px;
        text-align: left; }
      footer .topFooter .contactUs .contUsList {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        width: 60%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 45px; }
        footer .topFooter .contactUs .contUsList p {
          font-size: .875em;
          line-height: 22px;
          font-weight: 500;
          text-align: left;
          position: relative; }
        footer .topFooter .contactUs .contUsList .addressItem {
          position: relative; }
        footer .topFooter .contactUs .contUsList .mailItem {
          position: relative;
          margin-right: -8%; }
          footer .topFooter .contactUs .contUsList .mailItem p {
            text-align: right; }
        footer .topFooter .contactUs .contUsList .phoneItem {
          position: relative; }
        footer .topFooter .contactUs .contUsList .webItem {
          position: relative; }
        footer .topFooter .contactUs .contUsList .addressItem:before {
          content: '';
          position: absolute;
          top: 20px;
          left: -30px;
          background-image: url("../img/mapicon.png");
          width: 15px;
          height: 21px; }
        footer .topFooter .contactUs .contUsList .mailItem:before {
          content: '';
          position: absolute;
          top: 20px;
          left: -30px;
          background-image: url("../img/mailicon.png");
          width: 21px;
          height: 13px; }
        footer .topFooter .contactUs .contUsList .phoneItem:before {
          content: '';
          position: absolute;
          top: 20px;
          left: -30px;
          background-image: url("../img/callicon.png");
          width: 21px;
          height: 21px; }
        footer .topFooter .contactUs .contUsList .webItem:before {
          content: '';
          position: absolute;
          top: 20px;
          left: -30px;
          background-image: url("../img/webicon.png");
          width: 21px;
          height: 21px; }
  footer .bottomFooter {
    background-color: #5363d8; }
    footer .bottomFooter p {
      color: #b7bffc;
      font-size: .875em;
      font-weight: 500;
      text-align: center;
      padding: 45px 0;
      margin: 0 auto; }
