*
	margin: 0
	padding: 0

body
	width: 100%
	position: relative
	font-family: 'Open Sans', sans-serif
	margin: 0
	padding: 0

.container
	margin: 0 auto
	max-width: 1170px

h2
	text-align: center
	padding: 0
	text-transform: uppercase
	color: #5b6ceb
	font: 
		size: 28px
		weight: 700
	letter-spacing: .9px

a.nav-link
	display: block
	font-size: 14px
	font-weight: 600
	text-decoration: none
	color: #606060
	position: relative
	text-align: center
	padding-bottom: 9px

	&:hover,
	&:active
		color: #5363db 

header
	height: 100px

nav 
	display: flex
	justify-content: center
	align-items: center
	
	

	a.logo-link
		margin: 16px 150px
		position: relative
	
	ul
		list-style-type: none 
		display: flex

		li
			margin-right: 30px
			position: relative
		 
			a.nav-link:hover:before
				position: absolute
				content: ''
				bottom: 3px
				left: 0
				right: 0
				margin-left: auto
				margin-right: auto
				width: 30px
				height: 1px
				border-bottom: 1px solid #5363db
				transition: all .5s

			&:last-child
				margin-right: 0

			
	
	ul.nav-left
		width: 40%
		justify-content: flex-end

	ul.nav-right
		width: 40%
		justify-content: flex-start

.slider-block
	background-image: url("../img/bg-sliderBlock.png")
	background-position: top center
	background-repeat: repeat-x
	min-height: 600px
	
	.slider-block_content 
		display: flex
		justify-content: space-around
		padding: 100px 0

		.form-blcok 
			width: 19.5%
			background-color: #fff
			padding: 33px 40px 35px 30px
			border-radius: 18px
			margin-left: 16.5%
			box-shadow: 4px 4px 15px rgba(0,0,0, .2)

			form 
				width: 100%


			p
				width: 100%

			p input
				width: 90%
				border: 1px solid
				border-radius: 5px
				padding: 12px 10px 19px 8px
				margin-bottom: 17px
				background-color: #f2f2f2
				color: #888
				font-size: .875em
				border-color: transparent

			select
				width: 100%
				border: none
				border-radius: 5px
				padding: 1.125em 5%
				background-color: #f2f2f2
				color: #888
				font-size: .875em

			h3
				color: #5363db
				font: 
					size: 1.55em
					weight: 600
				padding-bottom: 25px
				letter-spacing: .8px
				



			button
				width: 75%
				background-color: #5b6ceb
				box-shadow: 4px 4px 15px rgba(0,0,0, .2)
				border: none
				border-radius: 8px
				color: #fff
				font:
					size: 1em
					weight: bold
				padding: 16px 0
				margin:
					top: 32px
					left: 28%
				
				&:hover,
				&:focus
					background-color: #475bf1

		.title-block
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: flex-start
			margin-top: 56px

			h1
				text-transform: uppercase
				color: #fff
				font:
					size: 3em
					weight: bold
				margin-bottom: 33px
				line-height: 1.5
			h3
				width: 67%
		

.our-classes
	width: 100%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	margin-top: 99px

	h2 
		line-height: 2.5

	.our-classes_list
		width: 100%
		display: flex
		flex-wrap: wrap
		margin-top: 57px

		a 
			display: block
			width: 48.3%
			margin: 
				top: 16px
				bottom: 9px
				right: 3%
			text-decoration: none
			border-radius: 5px

			&:nth-child(2n)
				margin-right: 0

			.our-classes_items 
				width: 100%
				display:flex !important 
				box-shadow: 4px 4px 15px rgba(0,0,0, .1)
				border-radius: 8px
				align-items: center

				img
					display: block
			
				.descrBlock
					padding-left: 32px
					padding-right: 1%

					h1
						color: #777777
						font:
							size: 20px
							weight: 700
						text-transform: uppercase
						margin:
							top: -4px
							bottom: 23px
						letter-spacing: 0px

					p.mainDescr
						font-size: .875em
						color: #555555
						line-height: 1.7
						margin-bottom: 27px


					.lastDescr 
						color: #999
						font-size: .875em

.gallery-block
	display: flex
	flex-wrap: wrap
	margin-top: 125px

	a
		display: block
		width: 25%
		position: relative

		&:hover .img-bg
			display: block

		img
			width: 100%
			

		.img-bg
			display: none
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0

.aboutUsBlock
	width: 100%
	margin-top: 120px

	.container  
		display: flex
		justify-content: space-between

		.abUsCont
			width: 40%
			margin-top: 13px


			h1
				margin-bottom: 18px
				font-size: 30px
				color: #5b6ceb
				font-weight: bold
				text-transform: uppercase

			p
				font-size: .875em
				color: #555
				font-weight: 500
				line-height: 1.5

		.abUsSlider
			width: 51%
			margin: 
				top: -5px
				right: -1%

			.slideshow-container
				max-width: 1000px
				position: relative
				margin: auto
				

				// .mySlides
				// 	box-shadow: 4px 4px 15px rgba(0,0,0, .1)
				// 	border-radius: 12px

				.prev, .next
					cursor: pointer
					position: absolute
					top: 41%
					widows: auto
					margin-top: -22px
					padding: 16px
					color: #fff
					font-weight: bold
					font-size: 18px
					transition: 0.6s ease
					border-radius: 0 3px 3px 0
				
				.prev
					left: -34px

				.next
					right: 0
					border-radius: 3px 0 0 3px
					right: -34px

				.dot
					cursor: pointer
					width: 13px
					height: 13px
					margin: 0 2px
					background-color: #bbb
					border-radius: 50%
					display: inline-block
					transition: background-color 0.6s ease

				.active, dot:hover
					background-color: #717171
				
				.fade
					animation-name: fade
					animation-duration: 1.5s 

.features-block
	background-image: url("../img/bg-features.png")
	background-position: top center
	background-repeat: repeat-x
	width: 100%

	.featuresList
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		width: 100%
		padding: 120px 0
		margin-top: 77px
		
		.featureItem
			width: 23%
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			margin-top: 5px
			text-align: center
			color: #fff
	
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8)
				margin-top: 55px
				margin-bottom: 13px

			h3
				margin-top: 27px
				font-size: 18px
				font-weight: bold
				line-height: 27px

			p
				font-size: 16px
				font-weight: 500
				line-height: 27px
				margin-top: 12px

.pricesBlock
	width: 100%
	background-image: url("../img/bg-prices.png")
	background-size: 55%
	background-repeat: no-repeat
	background-position: right bottom
	padding: 95px 0 200px 0

	.priceList
		display: flex
		justify-content: space-between
		margin: 5px 0

		.priceItems
			width: 31.6%
			display: flex
			flex-direction: column
			align-items: center
			text-align: center
			background-color: #fff
			box-shadow: 4px 4px 15px rgba(0,0,0, .1)
			border-radius: 10px


			.titlePrice
				width: 100%
				background-color: #5b6ceb
				color: #fff
				margin: 0 auto
				padding: 50px 0
				position: relative
				border-radius: 10px 10px 0 0

				.dlr
					position: absolute
					top: 36%
					left: 28%
					font-size: 32px
					font-weight: bold
					line-height: 36px
					padding-bottom: 10px

				.price
					font-size: 4.7em
					font-weight: bold
					line-height: 75px

				h1
					font-size: 14px
					font-weight: 600
					line-height: 24px
					text-transform: uppercase
					margin: 
						top: -15px
						left: 56px
			
			.contItems
				width: 100%

				.dateTime
					list-style-type: none
					padding: 35px 0
					margin-left: -22px
					line-height: 1px

					li
						color: #555
						font-size: 1.125em
						font-weight: 500
						line-height: 24px
						

					img
						margin: 0
						padding: 20px 0

				.buyN
					background-color: #5b6ceb
					color: #fff
					font-size: 1.125em
					font-weight: 600
					text-align: center
					padding: 15px 0
					width: 45%
					border: none
					border-radius: 19px
					margin: 
						top: 7px
						bottom: 51px
						left: 3px

.reviewSliderBlock
	display: flex
	width: 98%
	margin: 0 auto
	padding: 40px 0 60px 0
	background-color: #fff
	box-shadow: 1px 2px 50px rgba(0,0,0, .1)
	border-radius: 10px
	margin-top: 100px

	.avatarBlock
		width: 40%

		img
			display: block
			margin: 0 auto

	.reviewTextBlock
		display: flex
		flex-direction: column
		position: relative

		.descrReview
			width: 70%
			color: #000
			font-size: .875em
			font-weight: 500
			font-style: italic
			position: relative

			&:before
				content: open-quote
				position: absolute
				font-size: 3.85em
				color: #5b6ceb
				font-weight: 600
				top: -20px
				left: -45px

			&:after
				content: close-quote
				position: absolute
				font-size: 3.85em
				color: #5b6ceb
				font-weight: 600
				bottom: -50px
				right: -55px

		.mictoSlider
			position: absolute
			display: flex
			justify-content: space-between
			align-items: center
			width: 22%
			top: 116%
			left: 0
			
			.text
				position: relative

				.position
					color: #777
					font-size: .75em
					font-weight: 500
					line-height: 22px
					margin: 0
					padding: 0

				.nameTrainer
					color: #555
					font-size: .875em
					font-weight: 700
					line-height: 22px
					margin: 0
					padding: 0

		.fromhwo
			position: relative

			.positionFrom
				color: #777
				font-size: .875em
				font-weight: 500
				line-height: 22px
				padding: 0
				margin: 0

			.nameFrom
				color: #5b6ceb
				font-weight: 700
				font-size: 1em
				line-height: 22px
				padding: 0
				margin: 0