@import "./app/libs/breakpoint-sass/stylesheets/breakpoint"

// $phone: 320px
// $small: 425px
// $tablet: 800px
// $middle: 1024px
// $large: 1170px

*
	margin: 0
	padding: 0

body
	width: 100%
	position: relative
	font-family: 'Open Sans', sans-serif
	margin: 0
	padding: 0

.container
	margin: 0 auto
	max-width: 1170px

	@include respond-to('tablet')
		margin: 0 10%

	@media (max-width: 1024px)
		margin: 0 7%

	@media (max-width: 1170px)  
		margin: 0 7%

h1.main
	font-size: 3em 

h2
	text-align: center
	padding: 0
	text-transform: uppercase
	color: #5b6ceb
	font: 
		size: 28px
		weight: 700
	letter-spacing: .9px

a.nav-link
	display: block
	font-size: 14px
	font-weight: 600
	text-decoration: none
	color: #606060
	position: relative
	text-align: center
	padding-bottom: 9px

	&:hover,
	&:active
		color: #5363db 

header
	height: 100px
	z-index: 100000000000

.fixed
	position: fixed
	width: 100%

.fixedHeader
	background-color: #fff

nav 
	display: flex
	justify-content: center
	align-items: center
	background-color: #fff

	@include respond-to('tablet')
		background-color: #fff
		flex-direction: column	


	a.logo-link
		margin: 16px 150px
		position: relative

		@media (max-width: 1024px)
			margin: 
				left: 7%
				right: 7%
	
	ul
		list-style-type: none 
		display: flex

		li
			margin-right: 30px
			position: relative

			@include respond-to('tablet')
				margin-right: 0
		 
			a
				@include respond-to('tablet')
					font-size: 25px !important

			a.nav-link:hover:before
				position: absolute
				content: ''
				bottom: 3px
				left: 0
				right: 0
				margin-left: auto
				margin-right: auto
				width: 30px
				height: 1px
				border-bottom: 1px solid #5363db
				transition: all .5s

			&:last-child
				margin-right: 0

			
	
	ul.nav-left
		width: 40%
		justify-content: flex-end

		@include respond-to('tablet')
				flex-direction: column
				align-items: center
				background-color: #fff
				margin-top: 30px	

	ul.nav-right
		width: 40%
		justify-content: flex-start

		@include respond-to('tablet')
				flex-direction: column
				align-items: center
				background-color: #fff
				margin-bottom: 30px


.slider-block
	background-image: url("../img/bg-sliderBlock.png")
	background-position: top center
	background-repeat: repeat-x
	min-height: 600px
	
	.slider-block_content 
		display: flex
		justify-content: space-around
		padding: 100px 0

		@media (max-width: 1024px)
			flex-direction: column-reverse
			align-items: center
			padding-top: 0

		.form-blcok 
			width: 19.5%
			background-color: #fff
			padding: 33px 40px 35px 30px
			border-radius: 18px
			margin-left: 16.5%
			box-shadow: 4px 4px 15px rgba(0,0,0, .2)

			@media (max-width: 1170px)
				margin-left: 7%

			@media (max-width: 1024px)
				width: 35.5%
				margin: 
					top: 10px
					left: 2%
				padding: 
					top: 13px
					bottom: 15px

			@media (max-width: 425px) 
				width: 60%

			form 
				width: 100%


			p
				width: 100%

			p input
				width: 90%
				border: 1px solid
				border-radius: 5px
				padding: 12px 10px 19px 8px
				margin-bottom: 17px
				background-color: #f2f2f2
				color: #888
				font-size: .875em
				border-color: transparent

			select
				width: 100%
				border: none
				border-radius: 5px
				padding: 1.125em 5%
				background-color: #f2f2f2
				color: #888
				font-size: .875em

			h3
				color: #5363db
				font: 
					size: 1.55em
					weight: 600
				padding-bottom: 25px
				letter-spacing: .8px
				
				@media (max-width: 1024px)
					padding-bottom: 10px


			button
				width: 75%
				background-color: #5b6ceb
				box-shadow: 4px 4px 15px rgba(0,0,0, .2)
				border: none
				border-radius: 8px
				color: #fff
				font:
					size: 1em
					weight: bold
				padding: 16px 0
				margin:
					top: 32px
					left: 28%
				
				&:hover,
				&:focus
					background-color: #475bf1

		.title-block
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: flex-start
			margin-top: 56px

			@media (max-width: 1024px)
				margin-top: 0

			h1.main
				text-transform: uppercase
				color: #fff
				font:
					size: 3em
					weight: bold
				margin-bottom: 33px
				line-height: 1.5

				@media (max-width: 1024px)
					font-size: 2em
					margin:  
						bottom: 15px
						top: 25px
					
			h3
				width: 67%
		
.messenger
	color: red
	text-align: center
	font-size: .875em
	font-weight: 500
	padding-top: 5px

.our-classes
	width: 100%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	margin-top: 99px

	@media (max-width: 1024px)
		margin-top: 0

	h2 
		line-height: 2.5

	.our-classes_list
		width: 100%
		display: flex
		flex-wrap: wrap
		margin-top: 57px

		@media (max-width: 1170px)
			flex-wrap: nowrap
			flex-direction: column
			align-items: center
			justify-content: center 

		a 
			display: block
			width: 48.3%
			margin: 
				top: 16px
				bottom: 9px
				right: 3%
			text-decoration: none
			border-radius: 5px

			@media (max-width: 1170px)
				margin-right: 0
				width: 85%

			@media (max-width: 800px)
				width: 70%

			@media (max-width: 425px)
				width: 90%

			&:nth-child(2n)
				margin-right: 0

			.our-classes_items 
				width: 100%
				display:flex !important 
				box-shadow: 4px 4px 15px rgba(0,0,0, .1)
				border-radius: 8px
				align-items: center

				@media (max-width: 800px) 
					flex-direction: column
					align-items: center

				img
					display: block

					@media (max-width: 800px) 
						width: 100%
						border-radius: 8px
			
				.descrBlock
					padding-left: 32px
					padding-right: 1%

					@media (max-width: 800px) 
						margin: 20px 0

					@media (max-width: 425px) 
						padding-left: 5%
					h1
						color: #777777
						font:
							size: 20px
							weight: 700
						text-transform: uppercase
						margin:
							top: -4px
							bottom: 23px
						letter-spacing: 0px

					p.mainDescr
						font-size: .875em
						color: #555555
						line-height: 1.7
						margin-bottom: 27px


					.lastDescr 
						color: #999
						font-size: .875em

.gallery-block
	display: flex
	flex-wrap: wrap
	margin-top: 125px

	a
		display: block
		width: 25%
		position: relative

		@media (max-width: 1024px)
			width: 50%

		@media (max-width: 425px)
			width: 100%


		&:hover .img-bg
			display: block

		img
			width: 100%
			

		.img-bg
			display: none
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0

.aboutUsBlock
	width: 100%
	margin-top: 120px

	.container  
		display: flex
		justify-content: space-between

		@media (max-width: 1024px)
			flex-direction: column
			align-items: center

		.abUsCont
			width: 40%
			margin-top: 13px

			@media (max-width: 1024px)
				width: 70%
				margin-bottom: 50px

			@media (max-width: 425px) 
				width: 100%		


			h1
				margin-bottom: 18px
				font-size: 30px
				color: #5b6ceb
				font-weight: bold
				text-transform: uppercase

			p
				font-size: .875em
				color: #555
				font-weight: 500
				line-height: 1.5

		.abUsSlider
			width: 51%
			margin: 
				top: -5px
				right: -1%

			@media (max-width: 1024px)
				width: 70%

			@media (max-width: 425px) 
				width: 100%

.slick-prev
	width: 50px !important
	height: 50px !important
	border-radius: 40px !important
	background-color: #fff !important
	box-shadow: 3px 6px 13px rgba(0,0,0,0.1) !important
	top: 45% !important
	left: -16px !important
	z-index: 1 !important

	&:hover
		background-color: #fff !important
		

	&:before
		content: "\f104" !important
		font-family: FontAwesome !important
		color: #5b6ceb !important
		opacity: 1 !important
		font-size: 37px !important

	&:hover:before
		color: #475bf1 !important

.slick-next
	width: 50px !important
	height: 50px !important
	border-radius: 40px !important
	background-color: #fff !important
	box-shadow: 3px 6px 13px rgba(0,0,0,0.1) !important
	top: 45% !important
	right: -16px !important
	z-index: 1 !important

	&:hover
		background-color: #fff !important
		

	&:before
		content: "\f105" !important
		font-family: FontAwesome !important
		color: #5b6ceb !important
		opacity: 1 !important
		font-size: 37px !important

	&:hover:before
		color: #475bf1 !important

.features-block
	background-image: url("../img/bg-features.png")
	background-position: top center
	background-repeat: repeat-x
	width: 100%

	@media (max-width: 1024px)
		background-position: center center
		background-repeat: repeat

	.featuresList
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		width: 100%
		padding: 120px 0
		margin-top: 100px

		@media (max-width: 1024px)
			padding: 50px 0
		
		.featureItem
			width: 23%
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			margin-top: 5px
			text-align: center
			color: #fff

			@media (max-width: 1024px)
				width: 50%
				margin-top: 0
				margin-bottom: 20px	

			@media (max-width: 425px)
				width: 100%
	
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8)
				margin-top: 55px
				margin-bottom: 13px

				@media (max-width: 1024px)
					margin: 0

			h3
				margin-top: 27px
				font-size: 18px
				font-weight: bold
				line-height: 27px

				@media (max-width: 1024px)
					font-size: 15px
					line-height: 18px

			p
				font-size: 16px
				font-weight: 500
				line-height: 27px
				margin-top: 12px

				@media (max-width: 1024px)
					font-size: 13px

.pricesBlock
	width: 100%
	background-image: url("../img/bg-prices.png")
	background-size: 55%
	background-repeat: no-repeat
	background-position: right bottom
	padding: 95px 0 124px 0

	.priceList
		display: flex
		justify-content: space-between
		margin: 5px 0

		@media (max-width: 1024px)
			flex-direction: column
			align-items: center

		.priceItems
			width: 31.6%
			display: flex
			flex-direction: column
			align-items: center
			text-align: center
			background-color: #fff
			box-shadow: 4px 4px 15px rgba(0,0,0, .1)
			border-radius: 10px

			@media (max-width: 1024px)
				width: 50%
				margin-bottom: 30px

		  @media (max-width: 800px)
		  	width: 70%

			@media (max-width: 425px) 
				width: 100%


			.titlePrice
				width: 100%
				background-color: #5b6ceb
				color: #fff
				margin: 0 auto
				padding: 50px 0
				position: relative
				border-radius: 10px 10px 0 0

				.dlr
					position: absolute
					top: 36%
					left: 28%
					font-size: 32px
					font-weight: bold
					line-height: 36px
					padding-bottom: 10px

				.price
					font-size: 4.7em
					font-weight: bold
					line-height: 75px

				h1
					font-size: 14px
					font-weight: 600
					line-height: 24px
					text-transform: uppercase
					margin: 
						top: -15px
						left: 56px
			
			.contItems
				width: 100%

				.dateTime
					list-style-type: none
					padding: 35px 0
					margin-left: -22px
					line-height: 1px

					li
						color: #555
						font-size: 1.125em
						font-weight: 500
						line-height: 32px
						position: relative
						padding: 36px 0
						margin-top: -40px	

						&:last-child
								padding-bottom: 0	

						&:nth-child(1):before,
						&:nth-child(2):before
							position: absolute
							content: ''
							background-image: url("../img/bottLine.png")
							bottom: 19px
							left: 32.5%
							height: 1px
							width: 99px

							@media (max-width: 1024px)
								left: 36.5%

					img
						margin: 0
						padding: 20px 0

				.buyN
					background-color: #5b6ceb
					color: #fff
					font-size: 1.125em
					font-weight: 600
					text-align: center
					padding: 15px 0
					width: 45%
					border: none
					border-radius: 19px
					margin: 
						top: 7px
						bottom: 51px
						left: 3px



.reviewSliderBlock
	display: flex !important
	width: 98% !important
	margin: 0 auto
	padding: 40px 0 60px 0
	background-color: #fff
	box-shadow: 1px 2px 50px rgba(0,0,0, .1)
	border-radius: 10px
	margin-top: 100px
	margin-bottom: 50px

	@media (max-width: 1024px)
		flex-direction: column
		align-items: center

	.avatarBlock
		width: 40%
		margin: 
			top: -2px
			left: -6px

		img
			display: block
			margin: 0 auto

	.reviewTextBlock
		display: flex
		flex-direction: column
		position: relative
		margin: 
			top: 6px
			left: 32px

		@media (max-width: 1024px)
			width: 70%
			margin-left: 0

		.descrReview
			width: 75%
			color: #000
			font-size: .875em
			font-weight: 500
			font-style: italic
			position: relative
			line-height: 1.5

			@media (max-width: 1024px)
				width: 100%

			&:before
				content: open-quote
				position: absolute
				font-size: 3.85em
				color: #5b6ceb
				font-weight: 600
				top: -20px
				left: -45px


			&:after
				content: close-quote
				position: absolute
				font-size: 3.85em
				color: #5b6ceb
				font-weight: 600
				bottom: -50px
				right: -55px
	
				@media (max-width: 425px) 
					right: -25px

		.trainer-slick
			width: 280px !important
			height: 80px !important
			position: absolute
			top: 116%
			left: 2%

			@media (max-width: 425px) 
				display: none !important

			.slick-next
				right: 17px !important

			.slick-next,
			.slick-prev
				top: 50% !important
				width: 30px !important
				height: 30px !important

				&:before
					font-size: 20px !important

			.slick-list 
				height: 80px !important

				.mictoSlider
					position: absolute !important
					display: flex !important
					justify-content: space-between !important
					align-items: center !important
					width: 12% !important
					min-height: 80px
					top: 116% !important
					left: 23% !important
					
					.text
						position: relative

						.position
							color: #777
							font-size: .75em
							font-weight: 500
							line-height: 22px
							margin: 0
							padding: 0

						.nameTrainer
							color: #555
							font-size: .875em
							font-weight: 700
							line-height: 22px
							margin: 0
							padding: 0

		.fromhwo
			position: relative
			margin-top: 27px

			.positionFrom
				color: #777
				font-size: .875em
				font-weight: 500
				line-height: 22px
				padding: 0
				margin: 0

			.nameFrom
				color: #5b6ceb
				font-weight: 700
				font-size: 1em
				line-height: 22px
				padding: 0
				margin: 0

.slick-dots 
	display: flex !important
	flex-direction: column !important
	right: 0 !important
	width: 10px !important
	bottom: 0 !important
	top: 35% !important
	right: -55px !important

	@media (max-width: 1170px)
		right: -30px !important

	@media (max-width: 1024px)
		flex-direction: row !important
		top: 110% !important
		left: 36% !important

	@media (max-width: 425px) 
		left: 28% !important

	li
		margin: 8px 0 !important

		@media (max-width: 1024px)
			margin: 0 10px !important

		button
			&:before
				font-family: FontAwesome !important
				content: "\f1db" !important
				color: #d7d7d7 !important
				opacity: 1 !important
				font-size: 24px !important


	li.slick-active
		button
			&:before
				font-family: FontAwesome !important
				content: "\f192" !important
				color: #5b6ceb !important
				opacity: 1 !important
				font-size: 20px !important
				
			
footer
	background-color: #5b6ceb
	color: #fff

	.topFooter
		display: flex
		justify-content: space-between
		padding: 100px 0

		@media (max-width: 1024px)
			flex-direction: column
			align-items: center

		.about
			width: 50%
			margin-top: -20px

			@media (max-width: 1024px)
				width: 100%
				margin-top: 0	

			h1
				text-transform: uppercase
				font-size: 1.125em
				font-weight: 700
				line-height: 22px
				text-align: left
				margin-top: 16px

			p
				font-size: .875em
				line-height: 22px
				font-weight: 500
				width: 80%
				margin-top: 52px

			.socialList
				list-style-type: none
				display: flex
				justify-content: left
				padding: 0
				margin: 0
				margin-top: 68px

				li
					margin-right: 3%

		.contactUs
			width: 49%

			@media (max-width: 1024px)
				width: 100%
				margin-top: 40px

			h1
				text-transform: uppercase
				font-size: 1.125em
				font-weight: 700
				line-height: 22px
				text-align: left
				margin: 
					top: -4px
					left: 6px

			.contUsList
				display: flex
				flex-wrap: wrap
				width: 100%
				justify-content: space-between
				margin: 
					top: 45px
					left: 42px

				@media (max-width: 320px)
					font-weight: nowrap
					flex-direction: column
					align-items: flex-start
					margin-left: 40%
				
				.contUsItem
					width: 39%

					@media (max-width: 320px)
						width: 50%

					&:nth-child(1),
					&:nth-child(2)
						margin: 
							right: 10px
							bottom: 27px

						@media (max-width: 320px)
							margin-right: 0

					a
						font-size: .875em
						line-height: 22px
						font-weight: 500
						text-align: right
						text-decoration: none
						color: #fff
						position: relative

					address
						position: relative
						font-style: normal
						text-align: left
						font-size: .875em
						margin: 
							top: 7px
							left: -1px

					.mailItem
						position: relative
						margin-left: -40px
						text-align: right

					.phoneItem 

					.webItem
						margin-left: -50px


					.addressItem:before
						content: ''
						position: absolute
						top: 3px
						left: -35px
						background-image: url("../img/mapicon.png")
						width: 15px
						height: 21px

					.mailItem:before
						content: ''
						position: absolute
						top: 9px
						left: -32px
						background-image: url("../img/mailicon.png")
						width: 21px
						height: 13px

					.phoneItem:first-child:before
						content: ''
						position: absolute
						top: 5px
						left: -36px
						background-image: url("../img/callicon.png")
						width: 21px
						height: 21px

					.webItem:before
						content: ''
						position: absolute
						top: 0px
						left: -32px
						background-image: url("../img/webicon.png")
						width: 21px
						height: 21px

	.bottomFooter
		background-color: #5363d8

		p
			color: #b7bffc
			font-size: .875em
			font-weight: 500
			text-align: center
			padding: 45px 0
			margin: 0 auto

.hamburger
	display: none
	background: none
	position: absolute
	top: 0
	left: 0
	line-height: 45px
	padding: 5px 15px 0 15px
	color: #777
	border: 0
	font-size: 1.4em
	font-weight: bold
	cursor: pointer
	outline: none
	z-index: 10000000000

	@include respond-to('tablet')
		display: block

.cross
	display: none
	background: none
	position: absolute
	top: 0
	left: 0
	padding: 7px 15px 0 15px
	color: #777
	font-weight: bold
	line-height: 65px
	font-size: 3em
	cursor: pointer
	outline: none
	z-index: 10000000000
	border: none

	@include respond-to('tablet')
		display: block

.glyphicon-home
	display: none
	color: #fff
	font-size: 1.5em
	margin-top: 5px
	margin: 0 auto

	@include respond-to('tablet')
		display: block

